.containerList {
    width: 100%;
    display: flex;
    justify-content: center;
}
.itemList {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 39px;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    width: 220px;
    height: 260px;

    background: rgba(255, 255, 255, 0.65);
    border-radius: 8px;

    padding-right: 27px;

    margin-left: 36px;
    margin-right: 36px;
    margin-top: 60px;

    background: #FFFFFF;
    border-radius: 8px;

    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);

}
.item:hover {
    box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.25);
}
.item > img {
    width: 167px;
    height: 115px;
    margin-top: 22px;
    margin-right: 0;
    padding: 0;
}
.item > span {
    font-family: Merienda;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    text-align: center;

    color: #000000;

    margin-top: 14px;

}
.item > small {
    font-family: Merienda;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    text-align: center;

    color: #000000;

    margin-left: 133px;
    margin-top: 10px;
}

